body {
    font-family: 'Jua', sans-serif;
    background-color: rgb(150, 190, 210);
}

h1 {
    background-color: white;
    border-radius: 2vh;
    text-align: center;
    padding: 1.5vh;
    font-size: 4vh;
    margin: 0.25vw;
    margin-bottom: 4vh;
    margin-top: 2vw;
}

h2 {
    font-weight: bold;
    font-size: 3vh;
    margin: 2vh
}

.headers {
    font-family: 'Days One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10vh;
}

.flavor {
    background-color: white;
    border-radius: 2vh;
    padding: 3vh;
    margin: 4vh;
    width: 75%;
}

.herb {
    background-color: rgba(150, 210, 150, 0.9);
}

.spice {
    background-color: rgba(220, 170, 120, 0.85);
}

.seasoning {
    background-color: rgba(220, 240, 250, 0.8);
}

.details {
    margin: 2vh;
    line-height: 1.5;
    font-size: 2.5vh;
}

.avatar {
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    width: 18vw;
}