body {
    font-family: 'Jua', sans-serif;
    background-color: rgb(255, 173, 173);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(255, 217, 217);
    border-radius: 2vw;
    padding: 2vh;
    text-align: center;
    max-width: 60vw;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 3vw;
    font-family: 'Days One', sans-serif;
    text-align: center;
    margin: 2vw;
    color: rgb(91, 10, 10);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
}

.grid-item {
    background-color: white;
    padding: 1.5vw;
    border-radius: 1vw;
    text-decoration: none;
    color: rgb(133, 50, 50);
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.grid-item:hover {
    background-color: rgb(255, 117, 117);
}